video, img {
    box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.75);
    margin-left: auto;
    margin-right: auto;
    max-width: 75% !important;
}

.profeature {
    background-color: #1DD19F;
    color: white;
    font-weight: bold;
    font-style: normal;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

figcaption {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
    font-style: italic;
}
